@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Archivo&family=Ubuntu&display=swap');
@import url('./animation.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media(min-width: 500px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #F2F2F2;
    }
}